<launch>
  <arg  name="cameras_file"
        default="$(find flir_camera_node)/config/cameras.yaml"/>

  <node pkg="flir_camera_node"
        type="flir_camera_node"
        name="flir_camera_node"
        output="screen">
    <rosparam command="load"
              file="$(arg cameras_file)"/>
  </node>
</launch>
